
:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  body 
    {
      background-color: #0f1922;
     margin: 30;
   }
  
  @media only screen and (max-width: 767px) {
    .body{
      margin: 0%;
    }
  
    .header {
      flex-direction: row; /* Alterando para empilhar itens verticalmente */
      align-items: center; /* Ajustando alinhamento dos itens */
      gap: 12px; /* Reduzindo o espaçamento entre os itens */
    }
  }
  .menu {
    overflow: hidden;
  }
  
  .menu,
  .menu * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  /* MENU E HEADER*/
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
    padding: 24px 80px 24px 80px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 40px;
    position: relative;
    width: 100%; /* Alterado para 100% para ocupar toda a largura */
    max-width: 681px; /* Adicionado max-width para limitar a largura máxima */
    z-index: 1;
    height: 50%;

  }
  .nav :hover{
animation-name: getBold;
animation-duration: 2500ms;
animation-iteration-count: 1;
cursor: pointer;
font-weight: 900;
  }
  .nav:not(:hover){
    animation-name: getThin;
    animation-duration: 2500ms;
    animation-iteration-count: 1;
    font-weight: 200;
      }

  
  .menu-item {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
    

  }
  
  /* Media query para ajustar o layout em telas menores */
  @media only screen and (max-width: 767px) {
    .menu {
      padding: 1px 0px; /* Reduzindo o padding para telas menores */
    }
  
    .nav {
      flex-direction: row; /* Alterando para empilhar itens verticalmente */
      align-items: center; /* Ajustando alinhamento dos itens */
      gap: 12px; /* Reduzindo o espaçamento entre os itens */
    }
  }
  
/*Pagina Principal*/


/* Estilos padrão */
.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  margin: 0 auto;
  padding: 120px 0 0 80px;
  background-image: url();
  background-size: 100% 150%; /* Ajusta a imagem para cobrir 100% da largura e altura do contêiner */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

  
  .texto-principal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 640px;
    height: 154px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 50px;
    font-weight: 500;
    line-height: 76.8px;
    text-align: left;
    text-shadow: 8px 8px 24px rgb(0, 0, 0);
  }
  
  .texto-secundario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 640px;
    height: 96px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    z-index: 1;
  }
  
  .botao1  {
    height: 1px;
    width: 12%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 22px;
    border-width: 0px;
    border-style: solid;
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 1) 50.49999952316284%,
      rgba(255, 255, 255, 0.08) 100%
    );
    border-image-slice: 1;
    padding: 24px 48px 24px 48px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    backdrop-filter: blur(8px);
    margin-bottom: 10%;
  }
 
  .icone-telefone {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
  }
  .agendar-chamada{
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-decoration: none;

  }
  .icone {
    position: relative;
    width: 25.5px;
    height: 25.5px;
    margin: 4.25px;
    background: url(./img/ic_baseline-phone.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 4;
  }
  
  /* Media query para telas menores */
  @media only screen and (max-width: 767px) {
    .conteudo-principal {
      padding-left: 70px; /* Ajustando o padding esquerdo */
      padding-right: 60px; /* Ajustando o padding direito */
    }
    
    .texto-principal,
    .texto-secundario {
      width: 100%; /* Definindo a largura para automático */
      max-width: 100%; /* Definindo a largura máxima para 100% */
      height: 50%;
    }
  }
  
  /* Media query para telas ainda menores */
  @media only screen and (max-width: 767px) {
    .botao1 {
        height: 1px;
        width: 12%;

    }
   
  }
  
  
  /* Estilos padrão */
.quadro {
 
  padding: 120px 80px;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 40;
  position: relative;
  background: linear-gradient(to left, #012e4d, #012e4d),
linear-gradient(to left, #f0f5ff, #f0f5ff);
  
}

.quadro-interno {
  display: flex;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 480px;
  position: relative;
}

.quadro-interno2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: baseline;
    flex: 1;
    position: relative;
    width: 50px;
    height: 100%;

}

.servico-logo-design,
.servico-logo-design2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.galeria,
.conteudo,
.sobre-nos {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.titulo {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}

.descricao,
.ler-mais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
  text-decoration: none; /* Remove o sublinhado dos links */


}


.botao {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 1) 50.49999952316284%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;
  padding: 16px 40px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(8px);
}


.seta-direita {
  font-size: 24px;
  color: white;
}

/* Media query para telas menores */
@media only screen and (max-width: 767px) {
    .quadro {
      flex-direction: column; /* Altera a direção do flexbox para coluna */
      align-items: center; /* Alinha os itens centralmente */
    }
    
    .quadro-interno {
      width: 100%; /* Define a largura total */
      padding: 0; /* Reduz o padding */
      margin-bottom: 2px; /* Adiciona margem inferior entre as imagens e o conteúdo */
    }
    
    .conteudo {
      width: 100%; /* Define a largura total */
      text-align: center; /* Alinha o conteúdo ao centro */
    }
    
    .titulo {
      font-size: 28px; /* Reduzindo o tamanho da fonte do título */
    }
    
    .descricao,
    .ler-mais {
      font-size: 18px; /* Reduzindo o tamanho da fonte da descrição e do botão "Ler mais" */
    }
  }
  
  
/*Pagina 3 */
.sessao3,
.sessao3 * {
  box-sizing: border-box;
}
.sessao3 {
  background: #0f1922;
  padding: 120px 80px 120px 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sessaoimagens{
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sessaoimagens2{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.destinos {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
  left: 2%;

}
.titulo2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
  left: 2%;
}

.sessaoimgtext {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 400px;
  position: relative;
  left: -100px;
}
.servico-logomarca-design {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 40px 24px 40px 24px;  
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.mar-sea {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
    top: 25%;

}
.lorem-ipsum-dolor-sit-amet-consectetur-in-at-amet-semper {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 140%;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  top: 25%;

}
.botao2 {
  border-radius: 4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 16px 40px 16px 40px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(8px);
  top: 25%;
}
.ver-detalhes {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.servico-logomarca-design2 {
  padding: 40px 24px 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.quadro-48095567 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
/* Media query para telas menores */
@media only screen and (max-width: 767px) {
    .sessaoimagens {
      flex-direction: column; /* Altera a direção do flexbox para coluna */
      gap: 2px; /* Reduz o espaçamento entre as imagens */
      align-items: center; /* Alinha as imagens centralmente */
    }
  
    .sessaoimgtext {
      flex-direction: column; /* Altera a direção do flexbox para coluna */
      height: 100%;
      gap: 24px; /* Reduz o espaçamento entre o texto e as imagens */
      left: 5%;
    }
    .sessaoimagens2{
            flex-direction: column; /* Altera a direção do flexbox para coluna */
            gap: 2px; /* Reduz o espaçamento entre as imagens */
            align-items: center; /* Alinha as imagens centralmente */
          }
    }
    .servico-logomarca-design,
    .servico-logomarca-design2 {
      padding: 2px; /* Reduz o padding interno */
      text-align: center; /* Centraliza o conteúdo */
      align-items: center; /* Alinha os itens centralmente */
      width: 80%;
      left: 10%;

    }
  
    .botao2 {
      padding: 12px 24px; /* Reduz o padding do botão */
      font-size: 14px; /* Reduz o tamanho da fonte do botão */
    }
  
  
/*Sessão de pacotes*/
.frame-48095574,
.frame-48095574 * {
  box-sizing: border-box;
}
.frame-48095574 {
  background: #012e4d;
  padding: 120px 80px 120px 80px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48095571 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-48095520 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.packages {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.choose-your-best-package {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-in-at-amet-semper-velit-elit-nisi-faucibus-arcu-bibendum-nulla-porttitor-faucibus-bibendum-erat-a-vulputate-sed {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
  width: 568px;
}
.frame-48095573 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector-1 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-48095575 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-48095537 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48095535 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.golden-package {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.frame-48095538 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48095536 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.silver-package {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.frame-48095539 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bronze-package {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.button {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 1) 50.49999952316284%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;
  padding: 10px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(8px);
}
.view-package-details {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
.arrow-right {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  position: relative;
  overflow: visible;
}
/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
  .frame-48095574 {
    padding: 80px 40px; /* Reduz o padding */
    gap: 40px; /* Reduz o espaçamento entre os elementos */
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center; /* Centraliza os itens na horizontal */
    justify-content: center; /* Centraliza os itens na vertical */
    text-align: center; /* Alinha o texto centralmente */
  }

  .lorem-ipsum-dolor-sit-amet-consectetur-in-at-amet-semper-velit-elit-nisi-faucibus-arcu-bibendum-nulla-porttitor-faucibus-bibendum-erat-a-vulputate-sed {
    width: auto; /* Define a largura automática */
    max-width: 90%; /* Define a largura máxima */
  }

  .frame-48095573,
  .frame-48095575,
  .frame-48095537,
  .frame-48095535,
  .frame-48095538,
  .frame-48095536,
  .frame-48095539 {
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center; /* Centraliza os itens na horizontal */
    text-align: center; /* Alinha o texto centralmente */
    
  }

  .button {
    width: 80%; /* Reduz a largura do botão */
    max-width: 300px; /* Define a largura máxima */
  }
}


/*Depoimentos*/

.frame-12,
.frame-12 * {
  box-sizing: border-box;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  gap: Infinityrem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.service-logo-design {
  padding: Infinityrem Infinityrem Infinityrem Infinityrem;
  display: flex;
  flex-direction: column;
  gap: Infinityrem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  width: 10%;
}

.frame-16,
.frame-16 * {
  box-sizing: border-box;
}
.frame-16 {
  background: #0f1922;
  padding: 120px 80px 120px 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48095577 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-48095520 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.testimonial {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.what-our-clients-say-about-us {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
}
.frame-48095576 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
}
.frame-12 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-20 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 1) 50.49999952316284%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;
  padding: 64px 40px 64px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-48095539 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-1 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
}
.frame-48095540 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.michael-wong {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur-scelerisque-urna-vel-sit-dolor-fringilla-volutpat-lectus-amet-integer-sed-pretium-odio-lectus-at-malesuada-sed-eget-nunc {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-24 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 1) 50.49999952316284%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;
  padding: 64px 40px 64px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-480955402 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.avril-song {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-25 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 1) 50.49999952316284%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-image-slice: 1;
  padding: 64px 40px 64px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.jeane-wood {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.frame-392 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
/* Default styles */
.frame-12 {
  display: flex;
  flex-wrap: wrap;
}

.frame-20 {
  width: 33.33%; /* Adjust as needed */
}

/* Media query for tablet screens */
@media screen and (max-width: 768px) {
  .frame-20 {
    width: 50%; /* Adjust as needed */
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
  .frame-20 {
    width: 100%; /* Take up full width */
  }
}


/*Barra contato*/
.quadro-48095575,
.quadro-48095575 * {
  box-sizing: border-box;
}
.quadro-48095575 {
  padding: 120px 80px 120px 80px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.quadro-48095520 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 600px;
  position: relative;
}
.entre-em-contato {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
}
.quadro-22 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 8px 8px 8px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
  backdrop-filter: blur(8px);
}
.quadro-36 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.envelope-simples {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.nome-domínio-com {
  color: rgba(255, 255, 255, 0.4);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.botao {
  background: #0f1922;
  border-radius: 8px;
  padding: 16px 64px 16px 64px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(8px);
}
.enviar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}
/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
  .quadro-48095575 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Adjustments for larger screens */
@media only screen and (min-width: 768px) {
  .quadro-48095575 {
    display: flex;
    justify-content: space-between;
  }
}

/* Footer */

.frame-17,
.frame-17 * {
    box-sizing: border-box;
}

.frame-17 {
    background: #012e4d;
    padding: 120px 80px 120px 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-37 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-48095542 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-28 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.vector {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: visible;
}

.byoerr {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 36px;
    line-height: 120%;
    font-weight: 600;
    position: relative;
}

.hello-byoerr-com-phone-01-23456789 {
    color: #ffffff;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.frame-48095566 {
    opacity: 0.699999988079071;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-48095578 {
    display: flex;
    flex-direction: row;
    gap: 52px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-29 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-30 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-32 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.quick-links,
.resources {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 24px;
    line-height: 140%;
    font-weight: 600;
    position: relative;
}

.services,
.portfolio,
.about-us,
.testimonial,
.support,
.privacy-policy,
.terms-conditions {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

  /* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
  .frame-17 {
    text-align: center;
  }
  .frame-37 {
    display: block;
  }
  .frame-48095542 {
    margin-bottom: 20px;
  }
}

/* Adjustments for larger screens */
@media only screen and (min-width: 768px) {
  .frame-17 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .frame-37 {
    display: flex;
  }
  .frame-48095542 {
    margin-bottom: 0;
  }
 
}
